<h1>Artist name: <%= @artist.name %> </h1>
<p>Biography: <%= @artist.bio %> </p>
<h2>Songs:</h2>
<ul>
  <% @artist.songs.each do |song| %>
    <li> <%= link_to song.name, song_path(song) %> </li>
  <% end %>
</ul>
