<h1>Songs</h1>
<% @songs.each do |song| %>
  <div>
    <p>Song name: <%= link_to song.name, song_path(song) %></p>
    <p>Song artist: <%= link_to song.artist.name, artist_path(song.artist) %></p>
    <p>Song genre: <%= link_to song.genre.name, genre_path(song.genre) %></p>
    <br>
  </div>
<% end %>
